# Stage and Node Environment
STAGE=development
NODE_ENV=development

# Bcrypt
BCRYPT_SALT_ROUNDS=12

# Debugging
SHOW_STACK_TRACE=true

# JWT
JWT_SECRET=supersecretkey
JWT_ACCESS_TOKEN=access_token_secret_value
JWT_ACCESS_TOKEN_EXPIRY=1h
JWT_REFRESH_TOKEN=refresh_token_secret_value
JWT_REFRESH_TOKEN_EXPIRY=7d

# Optional - Database URL (used if `database_url` is defined in your baseConfig logic)
DATABASE_URL=postgres://username:password@localhost:5432/your_database
